<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">joe.knittel@gmail.com</a></li>    <!-- {{ site.email }} -->
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>A blog about actuarial science and data science. <br> Look out for new posts... <a href = "https://docs.google.com/document/d/1Gs07ubcfuQOrbJ5QCoZjuy359xcsnL3w4ekPk7J6S_8/edit">rarely</a>.</p>              <!-- {{- site.description | escape -}} --> 
      </div>
    </div>

  </div>

</footer>
