---
layout: default
---

<style>

  body{
    opacity: 1;
    animation: fadeIn 0.5s ease;
    overflow-y: scroll;
  }

  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

</style>

<script>
  $(window).unload(function () { $(window).unbind('unload'); });
  $(window).bind('pageshow', function(event) {
    if (event.originalEvent.persisted) {
        window.location.reload()
    }
});
</script>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
